<!DOCTYPE html>
<html>
<head>
<title> POST | POST LAB </title>

<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="create_post.css">
</head>
<body>
   <div id="createContent">
       <form action="/share" method = "POST" >
         <div class="container">
            <h1>Create a Post</h1>
            <div id="wholeTitle"> 
            <label for="title" class="title"><b>Title</b></label>
            <input type="text" placeholder="oh nah nah" name="title" required>
            </div>

            <textarea rows="10" cols="50" class="content" name="content" maxlength="2000"> 
            </textarea>
          </div>
        </div>
    </div>

    <div class="button">
            
            <button type="button" class="btn">Cancel</button>
            </div>
        </div>
        </form>
   </div>

            <div class="button">
            
            <button type="submit" class="btn">Post</button>
            </div>
        </div>
        </form>
    <div>
</body>
</html>