<!DOCTYPE html>
<html>
<head>
<title> POST | POST LAB </title>

<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="create_post.css">
</head>
<body>
<div id="logo">
        <h1>POST</h1>
</div>
<main>
   <div id="">
       <form action="/share" method = "POST" >
            <div class="container">
                <h1>Create a Post</h1>
                    <input type="text" placeholder="Title" name="title" required>
                
                <textarea rows="10" cols="50" class="content" name="content" maxlength="2000"> 
                </textarea>
            </div>
            <div class="button"> 
                <button type="submit" class="btn">Post</button>
            </div>
        </form>
    </div>
</main>

</body>
</html>