<!DOCTYPE html>
<html>
<head>
<title>HUB</title>
<link rel="stylesheet" type="text/css" href="hub.css">
</head>
<body>
    
    
    
    <main>
    <div>
    <% @posts.reverse.each do |posts| %>
        
          <h2><%= posts.username%></h2>
          
            
          <h3><%= posts.title %></h3>
          
      
          <p>
            <%= posts.content %>
          </p>
        
      
      <% end %>
      </div>
    </main>

    <script type="text/javascript src="hub.js">
</body>
</html>


