<DOCTYPE html>
  <html>
    <head>
      <title> POST</title>
      <link rel="stylesheet" type="text/css" href="profile_main.css">
    </head>
    <body>
      <div class="headerWrapper">
          <img src="POST2.png">
      </div>
      <div class="nav">
        <ul class="naver">
        </li><h4><a href="#"> My Profile</a></li>
        </li><h4><a href="#"> The Stream</a></li>
        </li><h4><a href="#"> my Posts</a></li>

          </ul>
        <div id="firstpost">
          <img src="charley-pangus-782885-unsplash.jpg" alt="photography">
          <h3>Title</h3>

        </div>
      </div>
    </body>
    </html>
