<DOCTYPE! html>
    <html>
        <head>
            <title> Welcome </title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="landing.css">
        </head>
        <body>
           <h1 id="logo"> [POST]</h1>
            <main>
                
                    <h2> Welcome To POST</h2>
                    <h3>Things you like</h3>
                
                <div id="buttons">
                    <button class= btn name= "login"> Log in </button>
                    <button class= "btn" name="signup"> Sign Up</button>
               </div>
                
                
                
            </main>
        </body>
    
    </html>
    
</DOCTYPE!>