<!DOCTYPE html>
<html>
<head>
<title>POST | Login</title>
<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

    <h1 id="logo"> [POST]</h1>
    <main>
<div id="login">
<form action="/user/signup" method="POST">
  <div class="container">
    <h1>SIGN IN</h1>
    <div class="inputs">
   
    <input type="text" placeholder="Enter Email" name="email" required>

    
    <input type="password" placeholder="Enter Password" name="password" required>

   
    </div>
    

    <div class="clearfix">
      
      <button type="submit" class="btn" id="loginbtn">Login</button>
        <button type="button" class="btn" id="cnclbtn">Cancel</button>
    </div>
  </div>
</form>
        </div>
    </main>
</body>
</html>
