<DOCTYPE html>
  <html>
    <head>
      <title> POST</title>
      
      <link rel="stylesheet" type="text/css" href="profile_main.css">    
      <link rel="stylesheet" type="text/css" href="profile.css">
    </head>
    <body>
      <div class="headerWrapper">
          <img src="POST2.png">
      </div>
      <div class="nav">
        <ul class="naver">
          <li> profile</li>
          <li> 
          </ul>
        <div id="profilePic">
          <img src="charley-pangus-782885-unsplash.jpg" alt="photography">
          <h3>Name:</h3>
          <h3>User Since:</h3>
        </div>
        <div class= "posts">
            <img src="charley-pangus-782885-unsplash.jpg">
            <h2 class="title">Title</h2>
            <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa soluta libero, dignissimos in hic inventore eligendi explicabo assumenda animi vel nihil id nisi perspiciatis nemo ab laudantium? Natus, quisquam obcaecati!</p>
        </div>
      </div>
      <% @posts.reverse.each do |posts|
          <div>
            <p>
              <%= posts.username %>
            </p>
          </div>
          <div>
            <h2>
              <%= posts.title %>
            </h2>
          </div>
          <div>
            <p>
              <%= posts.input %>
            </p>
          </div>
        <% end %>
    </body>
    </html>